
.data-list { 
	width: 100%;
}

.data-list td, th{
	height: 1.5em;
	vertical-align: bottom;
	text-align: left;
	padding-right: 40px;
	padding-bottom: 10px;
}

.data-list tr, th {
	border-bottom: 2px solid #e3e3e2;
}

.data-list tr:last-child {
	border-bottom: none;
}

.stats tr {
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
}

.stats td {
	padding: 20px;
	text-align: center;
}

.stats td div:first-child {
	font-size: 2.2em;
	font-weight: bold;
}

.stats td div:last-child {
	font-size: .8em;
	color: gray;
}

table.bar-chart {
	width: 100%;
}

.bar-chart td div {
	background-color: #5A92DC;
	font-size: .9em;
	line-height: 1.8em;
	color: #eee;
	border: none;
	padding-left: 5px;
}

.bar-chart th {
	padding: 1px 5px;
	border: none;
	width: 120px;
	line-height: 1.8em;
	font-size: .9em;
	text-align: right;
}

.bar-chart td {
	padding: 1px 5px;	
}

/* Lightbox Problem - Commented out for rest of problems
.lightbox-container {
	position: fixed;
	background-color: rgba(0,0,0,.6);
	top: 0;
	left: 0;
	width: 100%;
}

.lightbox-background {
	position: relative;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	width: 500px;
}

.lightbox {
	position: relative;
	margin: 25% auto;
	padding: 15px;
}

.button a {
	display: inline-block;
	width: 100px;
	height: 30px;
	position: relative;
	left: 75%;
	background-color: #E5777E;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #eee;
}
*/

.float-left {
	float: left;
	padding: 0 10px;

}
.float-right {
	float: right;
}

.move-right {
	margin-left: 75px;
}